.header {
  height: 11vh;
  background-image: url("../assets/headerImages/header1.png");
  display: flex;
  justify-content: space-around;
  gap: 65vw;
  align-items: center;
}

.headerImage__1 > img{
    /* position: fixed;
    top: 0;
    left: 0; */
    height: 11vh;
    width: 10vw;
    opacity: 1;
}
